name: Publish

on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        registry-url: https://registry.npmjs.org/
    - name: yarn install
      run: yarn install
    - name: npm publish
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.FLEEK_NPM_TOKEN}}
